.department-info h2 {
    color: #333;
    font-weight: normal;
    font-size: 22px;
  }
  
  @media (max-width: 414px) {
    .department-info p {
      color: #000;
      margin-bottom: 10px;
      font-size: 14px;
      margin-top: 5px;
      line-height: 20px;
    }
  }
  
  .department-info h3 {
    font-size: 18px;
    color: #0d3174;
    margin: 10px 0;
    font-weight: 600;
    line-height: 30px;
  }
  
  .list-items {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-top: 10px;
    display: block; /* Ensure the list is displayed as a block-level element */
    list-style-type: disc; /* Add bullets (disc style) for the list items */
  }
  
  .list-items li {
    display: block;
    margin-bottom: 5px;
  }
  .section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .subsection-title {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .activity-list {
    font-size: 16px;
    margin-left: 20px;
  }
  